
            #answer-container {
                margin: 0 auto;
                padding: 10px;
            }

			.wrapper {
				background: #dfc15e;
				display: grid;
				
			}

			#score-text {
				display: none;
			}

			.grid {
				background: #dfc15e !important;
			}

			body {
				text-align: center;
			}

			.container>div {
				background: #dfc15e;
				padding: 1em;
			}

			#text{
				padding: 0px 0px 120px 0px;
			}
			.container {
				display: grid;
				grid-template-columns: 100%;
				grid-column-gap: 10px;

			}

			h1 {
				font-weight: bold;
				color: #f5f5f5;
				font-size: 70px;
			  }

			.container>div:nth-child(odd) {
				background: #dfc15e;
			}

			.btn, #btn2, #btn3 {
				width: 300px;
				background: #3a3a3a;
				color: #f5f5f5;
				text-decoration: none;
				padding: 12px;
				border: 1px solid white;
				margin: 0 auto;
			}

			#btn2, #btn3 {
				width: 150px; 
				margin: 0 auto;
			}

			.btn, #btn2, #btn3 {border-radius: 12px;}

			.btn:hover {
				border: 1px solid white;
				background: #dfc15e;
				color: white;
			}

			#btn2:hover {
				background: #dfc15e;
				color: white;
			}

			#btn3:hover {
				background: #dfc15e;
				color: white;
			}